
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
    --white : #fff;
    --whiteclear: #d8d8d820;
    --shapewhite: #d8d8d82d;
    --gray : gray;
    --black : black; 
    --blackclear : rgba(0, 0, 0, 0.5);
    --yellow : rgb(255, 235, 0);
    --transparent : transparent;
}


body { font-family: 'Noto Sans KR', sans-serif; }

.totalpage {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    min-width: 1200px;
    overflow-x: hidden;
}

.totalpage .headfull {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* 1. 비디오 & 블랙 opacity Page */

.totalpage .headfull .vidpage {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -9999;
}

.totalpage .headfull .vidpage .vidpagesub {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9999;
}
.totalpage .headfull .vidpage .vidpagesub video {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -9999;
}
.totalpage .headfull .vidpage .vidpagesub .blackout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--blackclear);
    z-index: -9998;
}

/* 2. 헤더 부분 ( kakaopay / gnb / lang / burger ) */

header { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* min-width: 1200px; */
    min-height: 84px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--white);
    background: transparent;
    /* z-index: 21; */
    overflow: hidden;
    transition: background-color 0.3s ease;
    /* transition-delay: 0.3s; */
}

header::before {
    content: '';
    position: absolute;
    top: 83px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--whiteclear);
}

header a { cursor: pointer; }
header .logo { 
    position: absolute;
    left: 78px;
    top: 23px;
}

/* 헤더 로고 부분 */
header .logo a { display: block; font-size: 21px; }
header .logo span { font-weight: 600;}


/* 헤더 가운데 메뉴 부분 */
/* 헤더 가운데 메뉴 부분 */
/* 헤더 가운데 메뉴 부분 */
/* 헤더 가운데 메뉴 부분 */

.menu { 
    height: 84px; 
    width: 100%; 
    padding-left: 25%;
}

.menu ul.main {
    width: 100%;
    height: 84px;
    position: absolute;
}

.menu .main>li {
    width: auto;
    float: left;
    margin: 0 auto;
    padding: 0 40px 0;    
    font-size: 0.95em;
    letter-spacing: -0.25px;
    line-height: 84px;
    font-weight: 300;
 }

.menu .main>li a { 
    text-align: center;
} 

.menu .main>li:hover { 
    color: var(--black);
    font-weight: 500;
}

/* .menu .main > li:hover .menu2 { display: block; } */

.menu2 { 
    display: none;
    top: 84px;
    left: 0;
    width: relative;
    position: absolute;
    background-color: var(--white);
    color: var(--black);
}

.menu2 {
    display: flex;
}
.menu2 .sub {
    display: flex;
    flex-direction: column;
}
.menu2 .sub-menu {
    display: flex;
    
}
.menu2 .sub-menu li {}
.menu2 .sub-menu li a {}
.menu2 .sub-menu li a.1stlist {}

/* 헤더 오른쪽 lang KOR ENG 부분 */

.lang {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-right: 100px;
    position: relative;
}
.lang ul { display: flex; align-items: center; justify-content: space-between;}
.lang ul li { align-items: center;}
.lang ul li a { color: var(--whiteclear); font-size: 0.85em; }

.lang ul li a:not(.last)::after { 
    content: ''; 
    height: 0.75em;
    width: 1px; 
    border-right: 1px solid var(--whiteclear);
    margin: 0 1em 0;
}

.lang ul li a.active { color: var(--white);}

.burger {
    padding: 0 15px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 300;
}

.burger div {
    background-color: #dfe1e2;
    width: 20px;
    height: 2px;
    margin: 5px;
}

.burger:hover div  {
    opacity: 0.5;
}













/* 메인페이지 가운데 shape들 */

.boxshape {
    box-sizing: border-box;
    vertical-align: baseline;
    letter-spacing: 0px;
    border: 0px;
    display: block;
}

.fullshape {
    position: relative;
    padding-top: 84px;
    height: 100%;
    overflow: hidden;
    /* 추가 */
    z-index: -1;
}

.fullshape .verticalline {
    position: absolute;
    top: 84px;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    pointer-events: none;
    border-top: 0;
    border-bottom: 0;
}

.fullshape .verticalline .leftline {
    position: relative;
    flex: 1;
    border-right: solid 1px var(--shapewhite);
}
.fullshape .verticalline .midline {
    position: relative;
    flex: 3.5 0;
}

.fullshape .verticalline .midline::before {
    display: block;
    content: '';
    position: absolute;
    width: calc(50% + 0.5px);
    height: 100%;
    border-right: solid 1px var(--shapewhite);
}
.fullshape .verticalline .rightline {
    position: relative;
    flex: 1;
    border-left: solid 1px var(--shapewhite);
}


.fullshape .midshape {
    position: relative;
    color: #fff;
    height: 78.5%;
}
.fullshape .midshape .midshapefull {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

.fullshape .midshape .midshapefull .leftshape,
.fullshape .midshape .midshapefull .rightshape {
    position: relative;
    flex: 1;
    border-right: 1px solid var(--shapewhite);
}

.fullshape .midshape .midshapefull .shape1 { 
    width: 100%;
    height: 100%;
    position: absolute;
    border-bottom-left-radius: 9999px;
    border-top-left-radius: 9999px;
    border: 1px solid var(--shapewhite);
    border-right: 0;
}

.fullshape .midshape .midshapefull .mid_shape {
    position: relative;
    display: block;
    flex: 3.5 0;
}

.fullshape .midshape .midshapefull .mid_shape::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: var(--shapewhite);
}

.fullshape .midshape .midshapefull .shape2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
}

.fullshape .midshape .midshapefull .shape2 .txt {
    font-size: 4.5rem;
    font-weight: 500;
    margin-bottom: 16px;
    word-break: keep-all;
}

.fullshape .midshape .midshapefull .shape2 .icons_appngp {
    margin-bottom: 16px;
}
.fullshape .midshape .midshapefull .shape2 .icons_appngp a {
    border-radius: 9999px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    letter-spacing: -0.2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #606a74;
    height: 56px;
    width: auto;
    padding: 0 22px;
    font-size: 18px;
    font-weight: 500;
    opacity: 1;
}

.fullshape .midshape .midshapefull .shape3 {
    width: 100%;
    height: 100%;
    position: absolute;
    border-bottom-right-radius: 9999px;
    border-top-right-radius: 9999px;
    border: 1px solid var(--shapewhite);
    border-right: 0;
}
 
.shape3::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    background: var(--shapewhite);
}

.fullshape .lastshape {
    position: relative;
    color: #fff;
    height: 21.5%;
}

.fullshape .lastshape .lastshapefull {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

.fullshape .lastshape .vidbtns {
    position: absolute;
    right: 60px;
    bottom: 60px;
}
.fullshape .lastshape .vidbtnsall {}
.fullshape .lastshape .vidbtnsall button {
    border-radius: 9999px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    letter-spacing: -0.2px;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #191c20;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #d2d2d2;
    color: #f2f2f2;
    font-weight: 500;
    width: 40px;
    height: 40px;
    padding: 8px;
    font-size: 0;
    font-weight: 500;
}

.fullshape .lastshape .sound {
    margin-left: 18px;
}

.fullshape .lastshape .fullscreen {
    margin-left: 18px;
} 


/* SECTION */

.sectionfull {
    background-color: #fff;
    z-index: 1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 16px 0 160px;
}

.horizontal-sec {}
.horizontal-sec .img-area {}
.lft {}
.rght {}
.long {}

.horizontal-sec .info-area{}
.horizontal-sec .info-area .iconimg {}
.horizontal-sec .info-area .iconimg .sec-ico {}

.horizontal-sec .info-area .txtarwarea {}
.horizontal-sec .info-area .txtarwarea .txt-area {}
.horizontal-sec .info-area .txtarwarea .txt-area h2 {}
.horizontal-sec .info-area .txtarwarea .arrow {}
