
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
    --white : #fff;
    --whiteclear: #d8d8d820;
    --gray : gray;
    --black : black; 
    --blackclear : rgba(0, 0, 0, 0.5);
    --yellow : rgb(255, 235, 0);
}


body { font-family: 'Noto Sans KR', sans-serif; }

.totalpage {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    min-width: 1200px;
    overflow-x: hidden;
}

.totalpage .headfull {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* 1. 비디오 & 블랙 opacity Page */

.totalpage .headfull .vidpage {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -9999;
}

.totalpage .headfull .vidpage .vidpagesub {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9999;
}
.totalpage .headfull .vidpage .vidpagesub video {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -9999;
}
.totalpage .headfull .vidpage .vidpagesub .blackout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--blackclear);
    z-index: -9998;
}

/* 2. 헤더 부분 ( kakaopay / gnb / lang / burger ) */

header { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1200px;
    min-height: 84px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--white);
    background: transparent;
    /* z-index: 21; */
    overflow: hidden;
    transition: all 0s ease-in-out;
    transition-delay: 0.3s;
}

header::before {
    content: '';
    position: absolute;
    top: 83px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--whiteclear);
}

header a { cursor: pointer; }
header .logo { 
    position: absolute;
    left: 78px;
    top: 23px;
}

/* 헤더 로고 부분 */
header .logo a { display: block; font-size: 21px; }
header .logo span { font-weight: 600;}


/* 헤더 가운데 메뉴 부분 */
/* 헤더 가운데 메뉴 부분 */
/* 헤더 가운데 메뉴 부분 */
/* 헤더 가운데 메뉴 부분 */

.menu { 
    height: 84px; 
    width: 100%; 
    padding-left: 25%;
}

.menu ul.main {
    width: 100%;
    height: 84px;
    position: absolute;
}

.menu .main>li {
    width: auto;
    float: left;
    margin: 0 auto;
    padding: 0 40px 0;    
    font-size: 16px;
    letter-spacing: -0.25px;
    line-height: 84px;
    font-weight: 300;
 }

.menu .main>li a { 
    text-align: center;
} 

.menu .main>li:hover { 
    color: var(--black);
    font-weight: 500;
}

.menu .main>li:hover .menu2 { display: block; }

.menu2 { 
    display: none;
    top: 84px;
    left: 0;
    width: relative;
    position: absolute;
    background-color: var(--white);
    color: var(--black);
}


.menu ul>li a { }
.menu2 ul { }
.menu2 ul>li {}
.menu2 ul>li a {}



