
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
    --white : #fff;
    --whiteclear: #d8d8d820;
    --gray : gray;
    --black : black; 
    --blackclear : rgba(0, 0, 0, 0.5);
    --yellow : rgb(255, 235, 0);
}


body { font-family: 'Noto Sans KR', sans-serif; }

.totalpage {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    min-width: 1200px;
    overflow-x: hidden;
}

.totalpage .headfull {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* 1. 비디오 & 블랙 opacity Page */

.totalpage .headfull .vidpage {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden
}
.totalpage .headfull .vidpage .vidpagesub {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.totalpage .headfull .vidpage .vidpagesub video {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}
.totalpage .headfull .vidpage .vidpagesub .blackout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--blackclear);
}

/* 2. 헤더 부분 ( kakaopay / gnb / lang / burger ) */

header { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1200px;
    min-height: 84px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--white);
    background: transparent;
    z-index: 21;
    overflow: hidden;
    transition: all 0s ease-in-out;
    transition-delay: 0.3s;
}

header::before {
    content: '';
    position: absolute;
    top: 83px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--whiteclear);
}
header a { cursor: pointer; }
header .logo { 
    position: absolute;
    left: 78px;
    top: 23px;
}
/* 헤더 로고 부분 */
header .logo a { display: block; font-size: 21px; }
header .logo span { font-weight: 600;}


/* 헤더 가운데 메뉴 부분 */
.menu { height: 84px; width: 100%;}
.menu .main {
    height: 84px;
    position: relative;
    display: flex-start;
    padding-left: 25%;
}
.menu .main > li { 
    display: inline-block; 
    position: relative;
    width: auto;
    height: 84px;
    padding-right: 23.5px;
    font-size: 16px;
    letter-spacing: -0.25px;
    font-weight: 300;
    cursor: pointer;
    align-items: flex-start;
}

.menu .main > li a {
    position: relataabive;
    margin: 0 25px;
    display: inline-block;
    line-height: 84px;
}

.menu .menu2 { 
    position: absolute; 
    top: 84px; 
    left: 0; 
    width: 100%; 
    display: none; 
}

.menu .sub { margin: 0 auto; float: left; width: 25%;}
.menu .sub li { background-color: var(--white); width: 100%; color: var(--black);}

/* 각각의 메뉴가 호버 됐을때 검정폰트로 바뀌고 두꺼워지기 */
.menu .main > li a:hover { color: var(--black); font-weight: 500;}

/* 한가지의 메뉴가 호버 됐을때 헤더의 배경이 하얗게 되기 */
.menu .main > li:hover .main { background-color: var(--white);}

/* 메뉴가 호버됐을때 서브메뉴가 나오기 */
.menu .main > li:hover .menu2 { display: block; }





.menu .sub li a:hover { 
    display:block;
    content: '';
    border-bottom: solid 3px black;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%;
    transform: scaleX(1);
}